<!DOCTYPE html>
<html>
<head>
  <title>SSE Example</title>
</head>
<body>
  <div id="output"></div>
  <script>
    var source = new EventSource('/stream');
    source.addEventListener('update', function(event) {
      var data = JSON.parse(event.data);
      var output = document.getElementById('output');
      output.innerHTML = '<p>Key: ' + data.key + '</p><p>Value: ' + data.value + '</p>';
    });
  </script>
</body>
</html>

